*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #00001F;
    color: #FFFFFF;
}

main {
    overflow: auto;
}

.NavBar{
    background-color: #00002A;
    max-width: 1220px;
    padding: 24px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navbar-title{
    color: #DDD0D0;
    font-size: 25px;
    font-weight: 550;
    text-transform: uppercase;
}
